// import { take, call, put, select, takeLatest } from 'redux-saga/effects'
// import { {{ camelCase sliceName }}Actions as actions } from '.'

// function* doSomething() {}

export function* {{ camelCase sliceName }}Saga() {
  // yield takeLatest(actions.someAction.type, doSomething)
}
